<html xmlns:th="https//thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <title>Club List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Navigation-->

  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div th:if="${param.success}" class="alert alert-success">You successfully registered!</div>
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Runners Near You</h1>
        <p class="lead fw-normal text-muted mb-0">Runners Found in your Area</p>
      </div>
      <div class="row gx-5">
        <div>
          <form th:action="@{/clubs/search}" class="form-check-inline my-2 my-lg-0 mb-3">
            <input name="query" class="form-control mb-5 me-sm-2" type="search" placeholder="Search Running Clubs" aria-label="search">
          </form>
        </div>
        <div th:each="club : ${clubs}" class="col-lg-6 mb-2">
          <div class="position-relative mb-3">
            <img class="img-fluid rounded-3 mb-3" th:src="${club.getPhotoUrl()}" alt="..." />
            <a th:text="${club.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
          </div>
          <a class="btn btn-primary" th:href="@{/clubs/{clubId}(clubId =${club.id})}">View</a>
          <div th:if="${user != null}">
            <div th:if="${user.getId}==${club.getCreatedBy().getId()}">
              <a class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId =${club.id})}">Edit</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
<!--  <section class="py-5 bg-light">-->
<!--    <div class="container px-5 my-5">-->
<!--      <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>-->
<!--      <a class="btn btn-lg btn-primary" href="#!">Contact us</a>-->
<!--    </div>-->
<!--  </section>-->
</main>

</body>
</html>